@import url(https://fonts.bunny.net/css?family=frijole:400);

*{
    position: relative;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: url(./img/5_background/web_background.png);
    background-size: cover;
    background-position: center;
    font-family: 'Frijole', display;
}

.show{
    display: flex
}

.hide{
    display: none;
}

h1{
    font-size: 48px;
    margin-bottom: 40px;
    padding: 10px;
    background: orange;
    border-radius: 11px;

    @media only screen and (max-width: 720px){
        display: none;
    }
}

canvas{
    background: black;
    border-radius: 11px;

    @media only screen and (max-width: 720px){
        width: 100%;
        height: 100dvh;
    }
}

#game-settings{
    display: flex;
    justify-content: space-between;
    width: 720px;
    margin-top: 40px;
    padding: 10px;
    background: orange;
    border-radius: 11px;
}

#key-info{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 10px;
    background: orange;
    border-radius: 11px;
}

#start-screen{
    position: absolute;
    width: 720px;
    height: 480px;
    z-index: 10;

    img{
        width: 100%;
        height: 100%;
        border-radius: 11px;
    }
}

#start-button{
    z-index: 10;
}

.btn-style{
    cursor: pointer;
    background: linear-gradient(to bottom, #f7b733, #fc4a1a);
    color: #fff;
    padding: 12px 24px;
    border: 4px solid #b04a1d;
    border-radius: 11px;
    box-shadow: 0 6px 0 #89240f, 0 8px 15px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.btn-style:hover{
    background: linear-gradient(to bottom, #fc4a1a, #f7b733);
    box-shadow: 0 4px 0 #89240f, 0 6px 12px rgba(0, 0, 0, 0.25);
    transform: translateY(2px);
}

.btn-style:active{
    transform: translateY(4px);
    box-shadow: 0 2px 0 #89240f;
}

#win-screen{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 720px;
    height: 480px;
    z-index: 15;
    background: #a1220b;
    border-radius: 11px;
    padding: 100px;

    img{
        object-fit: contain;
        width: 100%;
    }
}

#loose-screen{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 720px;
    height: 480px;
    z-index: 15;
    background: #a1220b;
    border-radius: 11px;
    padding: 100px;

    img{
        object-fit: contain;
        width: 100%;
    }
}
