@import url(https://fonts.bunny.net/css?family=frijole:400);


*{
    position: relative;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: url(./img/5_background/web_background.png);
    background-size: cover;
    background-position: center;
    font-family: 'Frijole', display;
}

.show{
    display: flex
}

.hide{
    display: none;
}

h1{
    font-size: 48px;
    margin-bottom: 40px;
    padding: 10px;
    background: orange;
    border-radius: 11px;

    @media only screen and (max-width: 720px){
        display: none;
    }
}

canvas{
    background: black;
    border-radius: 11px;

    @media only screen and (max-width: 720px){
        width: 100%;
        height: 100dvh;
    }
}

#key-info{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 10px;
    background: orange;
    border-radius: 11px;
}

#start-screen{
    position: absolute;
    width: 720px;
    height: 480px;
    z-index: 10;

    img{
        width: 100%;
        height: 100%;
        border-radius: 11px;
    }
}

#start-button{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-50%);
    z-index: 10;
}

.btn-style{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid orange;
    border-radius: 11px;
    background-color: yellow;
}

#win-screen{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 720px;
    height: 480px;
    z-index: 15;
    background: #a1220b;
    border-radius: 11px;
    padding: 100px;

    img{
        object-fit: contain;
        width: 100%;
    }
}

#loose-screen{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 720px;
    height: 480px;
    z-index: 15;
    background: #a1220b;
    border-radius: 11px;
    padding: 100px;

    img{
        object-fit: contain;
        width: 100%;
    }
}
