*{
    position: relative;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

title{
    @media only screen and (max-width: 720px){
        display: none;
    }
}

canvas{
    background: black;

    @media only screen and (max-width: 720px){
        width: 100%;
        height: 100dvh;
    }
}